@import url("mini.css");

@media only screen and (min-width:1024px) {
    body {
        margin: 0 15%;
    }
    
    h1 {
        font-size: 400%;
    }
    
    h2 {
        font-size: 250%;
    }
    
    .actually-the-header {
        font-size: 700%;
        margin-bottom: 1em;
    }

    p, li {
        font-size: 150%;
    }
}
@media only screen and (max-width:1024px) {
    body {
        margin: 0 10%;
    }
    .actually-the-header {
        font-size: 300%;
        margin-bottom: 1em;
    }
}

p, li {
    margin: 1.5em 0;
    font-weight: 300;
    text-align: justify;
}

.doesnt-actually-look-like-a-header-but-whatever {
    opacity: 0.7;
    font-weight: 300;
    margin-top: 1em;
}
